body {
    background-image: url('assets/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
  }
  .navbar {
    background-color: #fff200 !important; /* amarillo brillante */
  }
  
  .navbar .nav-link,
  .navbar .navbar-brand {
    color: #000 !important; /* texto negro */
  }
  
  .navbar .nav-link:hover,
  .navbar .nav-link.active {
    color: #222 !important; /* un poco más oscuro al pasar el mouse */
    font-weight: bold;
  }
    